{{ $url := urls.Parse .Site.BaseURL }}
<div style='font-weight: bold; color: #fff'>signal-cli DBus REST API</div>
<a href="{{ $url }}"><img src="/signal-cli-dbus-rest-api/img/Signal_Blue_Icon.png"></i></a>
